<style>
table, th, td {
    border: solid;
    background-color: #ffffff;
    border-collapse: collapse;
    font-family: "Arial";
    text-align: left;
}
td {
    padding: 15px;
    background-color: #ebebeb;
}
th {
    padding: 15px;
    background-color: #d0d0d0;
    color: black;
    font-weight: bold;
    width: 20%;
}
table{
    width: 100%;
    margin-top: 10px;
}
</style>

<b><!--CASE-->::<!--NAME--></b><br>
<p><!--DESCRIPTION--></p>

<table>
<tr>
<th>Preparation</th>
<th>Test Action</th>
<th>Expected Result</th>
</tr>
<tr>
<td><!--PREPARATION--></td>
<td><!--ACTION--></td>
<td><!--RESULT--></td>
</tr>
</table>
