<style>
table, th, td {
    border: solid;
    background-color: #ffffff;
    border-collapse: collapse;
    font-family: "Arial";
    text-align: left;
}
td {
    padding: 15px;
    background-color: #ebebeb;
}
th {
    padding: 15px;
    background-color: #d0d0d0;
    color: black;
    font-weight: bold;
}
th.assessment{
    width: 10%;
}
table{
    width: 100%;
    margin-top: 10px;
}
</style>

<table>
<tr>
<th>Scenarios</th>
<th class="assessment">Initial Probability</th>
<th class="assessment">Initial Extent of Damage</th>
<th class="assessment">Resulting Risk</th>
</tr>
<tr>
<td><!--SCENARIO--></td>
<td><!--INITIAL_PROBABILITY--></td>
<td><!--INITIAL_DAMAGE--></td>
<td><!--INITIAL_RISK--></td>
</tr>
<tr>
<th>Mitigation Strategy</th>
<th>Final Probability</th>
<th>Final Extent of Damage</th>
<th>Resulting Risk</th>
</tr>
<tr>
<td><!--MITIGATION_STRATEGY--></td>
<td><!--FINAL_PROBABILITY--></td>
<td><!--FINAL_DAMAGE--></td>
<td><!--FINAL_RISK--></td>
</tr>
</table>
