<html>
<head>
<style>
table, th, td {
    border-style: solid;
    border-color: #b0b0b0; 
    border-collapse: collapse;
    font-family: "Arial";
    text-align: left;
}
td {
    padding: 5px;
}
th {
    padding: 5px;
    background-color: #d0d0d0;
    color: black;
    font-weight: bold;
}
table{
    width: 100%;
    margin-bottom: 20px;
}
</style>
</head>


<body>

<h1>Validation Documents</h1>

<h2>Table of Contents</h2>
<ul>
<li><a href="#SRS">Software Requirements Specification (SRS)</a></li>
<li><a href="#FRS">Functional Requirements Specification (FRS)</a></li>
<li><a href="#DS">Design Specification (DS)</a></li>
<li><a href="#RA">Risk Assessment (RA)</a></li>
<li><a href="#TP">Test Plan (TP)</a></li>
</ul>

<h2 id="SRS">Software Requirements Specification (SRS)</h2>

<table>
<tr>
<th style="width: 5%;">No.:</th>
<th>Requirement:</th>
<th>Description:</th>
<th style="width: 5%;">regulatory</th>
<th style="width: 5%;">functional</th>
</tr>
<!--SRS-->
</table>

<h2 id="FRS">Functional Requirements Specification (FRS)</h2>

<table>
<tr>
<th style="width: 5%;">No.:</th>
<th>SRS.FRS:</th>
<th>Description:</th>
</tr>
<!--FRS-->
</table>

<h2 id="DS">Design Specification (DS)</h2>

<table>
<tr>
<th style="width: 5%;">No.:</th>
<th>SRS.FRS.DS:</th>
<th>Description:</th>
</tr>
<!--DS-->
</table>

</body>
</html>
